*{
    margin: 0;
    padding: 0;
}
body{
    background-color: lavender;
}
div{
    width: 60%;
    height: 600px;
    background-color: rgb(243, 202, 127);
    margin: auto;
    margin-top: 80px;
}
.box{
    background-color: rgb(47, 150, 47);
    width: 20%;
    height: 430px;
    text-align: center;
}
h1{
    color: white;
    background-color: red;
    font-size: 40px;
    margin-bottom: 30px;
}
h3{
    font-size: 30px;
    color: red;
    background-color: whitesmoke;
}
.a{
    margin: 10px 0;
}